

/* 전체적인 스타일 */
* {
	font-family: 'Roboto', sans-serif;    
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000000;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* 헤더 스타일 */
header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    max-width: 100px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #0051c7;
    border-radius: 5px;
}


/* 메인 영역*/

.main.section {
    display: block;
    width: 1080px;
    margin: 0 auto;
}


.main.banner {
    margin: 10px 0 41px;
}

.main.banner img {
    display: block;
    max-height: 224px;
    margin: 0 auto;
}

/* 광고 배너 */

.ADbanner {
    width: 100%;
    margin: 10px auto; 

}

.ADbanner.left {
    background-color: #fff;
    display: flex;
    height: 700px;
    width: 100px;
   border: 1px solid rgb(255, 255, 255);
   border-radius: 5px;
    float: left;
    width:10%;
    box-sizing: border-box;
}

.ADbanner.right {
    background-color: #fff;
    display: flex;
    height: 700px;
    width: 100px;
    border: 1px solid white;
    float: right;
    border-radius: 5px;
    width: 10%;
    box-sizing: border-box;
}

.ADbanner img {
    max-width: 80%;
}

/*사이드바 영역*/
.content1{
    margin-top: -40px;
    float: left;
    box-sizing: border-box;
    width: 728px;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    width:15%;
    height: 500px;
    width: 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;  
    
}

@media only screen and (min-width: 1024px)
.sidebar {
    display: block;
    width: 300px;
    float: left;
    z-index: 1000;
    will-change: min-height;
}

@media only screen and (min-width: 1024px)
.sidebar__inner {
    position: relative;
    transform: translate(0);
    transform: translateZ(0);
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.sidebar-dimmed {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
@media only screen and (min-width: 1024px)
.sidebar-content-wrap {
    position: static;
    padding-bottom: 0;
}
@media only screen and (min-width: 1024px)
.sidebar-content-top, .sidebar__close {
    display: none;
}

.sidebar-menu {
    border-top: 1px solid #ebeef1;
    padding: 9px 16px 8px;
}
.sidebar-menu__title {
    padding-bottom: 8px;
    line-height: 15px;
    font-size: 12px;
    color: #7b858e;
}
ol, ul {
    list-style: none;
}
.sidebar-menu__item--active {
    border-radius: 4px;
    background: #f8f9fa;
    color: #16ae81;
}
.sidebar-menu__item {
    line-height: 17px;
    font-size: 14px;
    color: #1e2022;
    border-radius: 4px;
}
.sidebar-menu__item a {
    padding: 8px 12px 7px;
}


/* board-wrapper 스타일 */
.board-wrapper {
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    width: 58%;
    flex-direction: column;
    align-items: center;
    float: left;
  }
  
  .board-wrapper .board-header {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .board-wrapper .board-header .sort-buttons {
    display: flex;
    align-items: center;
  }
  
  .board-wrapper .board-header .sort-buttons button {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .board-wrapper .board-header .sort-buttons button.active {
    color: #f7b500;
    font-weight: bold;
  }
  
  .board-wrapper .board-header .search-button,
  .board-wrapper .board-header .write-button {
    background-color: #f7b500;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .board-wrapper .board-header .search-button {
    margin-right: 10px;
  }
  
  .board-wrapper .board-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .board-wrapper .board-list .board-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .board-wrapper .board-list .board-item .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .board-wrapper .board-list .board-item .content {
    margin-bottom: 10px;
  }
  
  .board-wrapper .board-footer {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }


/*반응형 웹*/
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 10px;
    }

    .logo img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .search {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .search input[type="text"] {
        width: 100%;
    }

    .search button {
        width: 100%;
        border-radius: 5px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .content {
        margin: 0;
    }

    .community {
        width: 100%;
    }
}